.container-fluid{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color:#ffffff;
    /* display: flex; */
}


.navbar-brand  {
    font-family: Monaco;
    font-size: 35px;
}
.logo{
    height:65px;
    width: 65px;
}

.navbar navbar-dark bg-dark {
    margin: 10px, 0, 10px, 0px;
}

.active{
    font-size: 20px;
    color: red;
    border-bottom: 2px solid rgb(151, 84, 7);
  }


.nav-link{
    text-align: right;
}

h1{
    font-size: 30px;
}

.carousel-caption{
    color:black;
}

.carousel-item img {
    height: 100%;
    width: 100%;
}

.welcome {
text-align: center;
}


.btn{
    margin: 20px,0px,20px,0;
    display: flex;
    justify-content: center !important;
}



.article{
    color: #ffffff;
    text-align: center;
    font-size: 25px;
  
}

.article li {
    font-size: 15px;
    text-align: left;
    /* list-style: none; */
}


.title{
    font-size: 25px;
    text-align: center;
}

.form-group{
    background-color: #221a1a;
    padding: 10px;
   
}

.footer{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #343a40;
    color:white;
    text-align: center;
}