.container-fluid{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color:#ffffff;
}


.navbar-brand{
    font-family: Monaco;
    font-size: 30px;
}


.nav-link{
    text-align: right;
}

.carousel-caption{
    color:black;
}

.carousel-item img {
    height: 100%;
    width: 100%;
  }

.welcome {
text-align: center;
}


.cards{
    background-color: green;
}

.article{
    color: #ffffff;
    text-align: center;
    font-size: 25px;
  
}

.article li{
    font-size: 15px;
    text-align: left;
    list-style: none;
}




.footer{
    background-color: #000000;
    color:white;
    text-align: center;
}